* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #151a30;
}

.app {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.flex {
  display: flex;
}

.rounded {
  border-radius: 4px;
}

.border-blue-1 {
  border: 1px solid #6bb8ff;
}

.m-y-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.l-0 {
  left: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.searchInput {
  border: 0;
  padding: 5;
}

.clearButton {
  border: 0;
  padding: 5;
}

.searchButton {
  border: 0;
  padding: 5;
}


@media screen and (max-width: 700px) {

 :root {
  padding: 0 0px;
 }
}